/****form****/
.waves-effect {
	width: 100%;
}
/************/

.ingresa{
	padding: 0 !important;
}

body{
	font-family: Roboto;
}

.fondo{
	background-image: url("../img/wallpaper2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 2vh 0vh;
	height: 83vh;
}

.login{
	padding-top: 6vh;
}

.login a{
	font-size: 1.3rem;
}
.fondo h2, .fondo h5{
	color: #fff;
}
.cajatexto{
	padding: 2vh;
	background-color: rgba(0, 0, 0, 0.36);
}

.row{
	margin-bottom: 0px;
}
.footer{
	background-color: #637988;
	color: #fff;
	padding: 2vh 0vh;
}
.footer a{
	color: #fff;
}
.social span{
	font-size: 1.3rem;
	padding: 0vh 0.5vh;
}
.profile{
    border: 3px solid #B7B7B7;
    padding: 10px;
    margin-top: 10px;
    width: 300px;
    background-color: #F7F7F7;
    height: 160px;
}
.profile p{margin: 0px 0px 10px 0px;}
.head{margin-bottom: 10px;}
.head a{float: right;}
.profile img{width: 60px;float: left;margin: 0px 10px 10px 0px;}
.proDetails{float: left;}

div.remodal-overlay{
	background-color: rgba(22, 76, 63, 0.91);
}