/****form****/
.waves-effect {
	width: 100%;
}
/************/

.ingresa{
	padding: 0 !important;
}

body{
	font-family: Roboto;
}

.fondo{
	background-image: url("../img/fondo.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 2vh 0vh;
	height: 83vh;
}

.nav-wrapper a img{
	width: 100px;
}

.nav-wrapper{
	background-color: #FFF;
}
.nav-wrapper a{
	color: #26a69a;
}

.login{
	padding-top: 6vh;
}

.login a{
	font-size: 1.3rem;
}
.fondo h5, .fondo h3{
	color: #fff;
}
.cajatexto{
	padding: 22vh 0vh;
}

.formulario{
	padding: 25vh 0vh;
}
.row{
	margin-bottom: 0px;
}
.footer{
	background-color: #637988;
	color: #fff;
	padding: 2vh 0vh;
}
.footer a{
	color: #fff;
}
.social span{
	font-size: 1.3rem;
	padding: 0vh 0.5vh;
}
.profile{
    border: 3px solid #B7B7B7;
    padding: 10px;
    margin-top: 10px;
    width: 300px;
    background-color: #F7F7F7;
    height: 160px;
}
.profile p{margin: 0px 0px 10px 0px;}
.head{margin-bottom: 10px;}
.head a{float: right;}
.profile img{width: 60px;float: left;margin: 0px 10px 10px 0px;}
.proDetails{float: left;}


div.remodal-overlay{
	background-color: rgba(22, 76, 63, 0.91);
}

#video, .cuidador-mes{
	padding: 6vh 0vh;
	background-color: #F7F7F7;
}

#video p, .info-titulo span, .cuidador-mes span{
	color: #435C70;
	font-size: 1.4rem;
}

#info{
	padding-top: 2vh;
}

.info-titulo p, .cuidador-mes p{
	color: #62D1B7;
	font-size: 1.4rem;
}

.escudo img{
	padding-top: 15vh;
}

.servicios{
	padding: 6vh 0vh 8vh 0vh;
	color: #435C70; 
}

.servicios img{
	width: 70px;
	padding-top: 4vh;
}
.cuidador-mes .fotos img{
	width: 300px;
}

.fotos{
	padding-top: 4vh;
}
.fotos i{
	color: #62D1B7;
}

@media only screen and (min-width : 1170px) {
	.fondo{
		background-position-y: -25vh;
	}
}

#live-chat {
    bottom: 0;
    font-size: 12px;
    right: 24px;
    position: fixed;
    width: 300px;
    z-index: 1000;
}
#live-chat header {
    background: #293239;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 6px 14px;
}
#live-chat h4:before {
    background: #1a8a34;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}
#live-chat h4 {
    font-size: 12px;
}
#live-chat h5 {
    font-size: 10px;
}
#live-chat form {
    padding: 24px;
}
#live-chat input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}
.chat-message-counter {
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    display: none;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}
.chat-close {
    background: #1b2126;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 16px;
}
.chat {
    background: #fff;
}
.chat-history {
    height: 252px;
    padding: 8px 24px;
    overflow-y: scroll;
}
.chat-message {
    margin: 16px 0;
}
.chat-message img {
    border-radius: 50%;
    float: left;
}
.chat-message-content {
    margin-left: 56px;
}
.chat-time {
    float: right;
    font-size: 10px;
}
.chat-feedback {
    font-style: italic; 
    margin: 0 0 0 80px;
}
